@font-face {
  font-family: "Epilog";
  src: url(/res/font/epilog.woff) format(woff);
}

@font-face {
  font-family: "Playfair Display";
  src: url(/res/font/playfair-display.woff) format(woff);
}

html, body {
  margin: 0;
  padding: 0;

  --body-width: 100%;
  --body-height: 100vh;

  font-family: "Playfair Display";

  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  color: white;
}

.bg-image::before {
  background-size: cover;
  background-position: bottom;

  content: "";
  display: block;
  position: absolute;
  z-index: -1;

  width: var(--body-width);
  height: var(--body-height);
}

.bg-image.bg-clipped::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 43%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 43%, 0 100%);
}

.bg-image.bg-clipped-slant::before {
  -webkit-clip-path: polygon(100% 0, 100% 43%, 0 100%, 0 57%);
  clip-path: polygon(100% 0, 100% 43%, 0 100%, 0 57%);
}

.bg-image.bg-clipped-bottom::before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 57%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 57%);
  bottom: 0;
}

.bg-image.outro-img {
  margin: 0;
  position: absolute;
  bottom: 0;

  width: var(--body-width);
  height: var(--body-height);

  z-index: -1;
}

section {
  width: var(--body-width);
  min-height: var(--body-height);
  position: relative;
}

section#hero::before {
  background-image: url(/res/img/hero-img.jpg);
}

section#hero {
  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: space-between;
  align-items: center;
}

section#hero > h1 {
  background-color: white;
  color: black;

  font-family: "Epilog";
  font-size: clamp(3rem, 9vw, 7rem);
  line-height: 1;

  width: max-content;
  max-width: 70vw;

  padding: 0.25em 0.5em;
  margin: 0;

  mix-blend-mode: screen;
}

section#hero > a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;

  padding-bottom: 1.25em;
}

section#hero > a > span.arrow {
  height: 1.4142135624em;
  display: inline-block;

  transform: rotate(90deg);

  padding-left: 0.75em;
}

section#hero > a > span.arrow::before {
  display: inline-block;
  content: "•••";

  font-family: "Arial";
  direction: rtl;

  text-align: right;
  line-height: 1;

  position: relative;
  right: -0.25em;

  transition: letter-spacing 0.2s ease;
}

section#hero > a > span.arrow::after {
  display: inline-block;
  content: "";

  width: 1em;
  height: 1em;

  border-right: 0.125em solid white;
  border-bottom: 0.125em solid white;

  transform: rotate(-45deg);
  transform-origin: bottom;

  box-sizing: border-box;
}

section#hero > a:hover > span.arrow::before {
  letter-spacing: 0.2em;
}


section.intro > h2:first-of-type {
  font-family: "Playfair Display";
  font-size: clamp(2rem, 10vw, 4rem);
  line-height: 1;

  margin-top: 25vw;
  margin-left: 1em;
  margin-right: 0.5em;

  color: black;
  background-color: white;
  padding: 0.25em 0.5em;

  display: inline-block;
}

section.content > * {
  margin-left: 3rem;
  margin-right: 2rem;
}

section.content header {
  margin-top: 10vw;
  display: inline-block;
}

section.content header h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

section.content header h2 {
  font-size: 3rem;
  max-width: 30ch;
  margin: 0;
}

section.content > p {
  font-size: 1.3rem;
  max-width: 50ch;
  margin-bottom: 0;
}

section.content > p:last-child {
  padding-bottom: 1.5rem;
}

section#about-me-intro::before {
  background-image: url(/res/img/about-me-bg-1.jpg);
  background-position: 90% 50%;
  opacity: 0.7;
}

section#about-me::before {
  background-image: url(/res/img/about-me-bg-2.jpg);
  background-position: 90% 50%;
  opacity: 0.4;
}

section#my-projects::before {
  background-image: url(/res/img/my-projects-1.jpg);
  background-position: bottom;
  opacity: 0.4;
}

div#my-projects-footer-img::before {
  background-image: url(/res/img/my-projects-2.jpg);
  background-position: bottom;
  opacity: 0.4;
}

section#about-me-outro::before {
  background-image: url(/res/img/about-me-bg-2.jpg);
  background-position: 90% 50%;
  opacity: 0.4;
}

section#timeline-intro::before {
  background-image: url(/res/img/timeline-bg-1.jpg);
  background-position: bottom;
  opacity: 0.4;
}

section#timeline::before {
  background-image: url(/res/img/timeline-bg-2.jpg);
  background-position: bottom;
  opacity: 0.4;
}

section#contact::before {
  background-image: url(/res/img/contact-bg.jpg);
  background-position: center;
  opacity: 0.4;
}

ul.listing {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

ul.listing li {
  padding-bottom: 1.5rem;
}

ul.listing li h4 {
  font-size: 1.3rem;
  margin: 0;
}

ul.listing li p {
  font-size: 1.1rem;
  margin: 0;
  margin-top: 0.5em;
  line-height: 1.5;
}
